doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="stylesheets/AD.png", type="image/x-icon")
    link(rel="stylesheet", href="stylesheets/style.css")
    title David Alegria 

  body 
    div 
     .imgperfil
        img(src="images/fp.png", alt="", srcset="")
  section.textos-header
    h1 David Alegria 
    h4 21 años 
  main
    section.contenedor.sobre.mi
      h2 Un poco mas sobre mi
        .contenedor-sobre-mi
  aside
  nav
    ul
      li#correo(target='_blank')
        | Alegriadavid@gmail.com
      li#tlf
        p telefono de contacto: +58-4261829221
      li#ubi
        p Me encuentro resisdenciando en: Urbanización en Guafal. SJM. Guárico. Venezuela 
  
  div
    
  p.descriccion
    | “Me caracterizo por ser Pro-activo, emprendedor, positivo, dispuesto a aprender y a ingnovar con el fin de ayudar a las personas, para asi tener cremiciento pesonal, laboral y profecional. Soy una persona responsable y respetuosa, la cual aprovecha toda sus virtudes y reconoce sus debilidades, abierto a crtiticas para asi mejorar, con las siguientes habilidades:  Conocimiento avanzado de hardware y software en computadoras,  reconocimiento de fallas y corrección de las mismas tanto en hadware como en Sofware, creación de códigos Qr, Manejo de distribuciones Linux en entornos XFCE, GNOME y KDE”
  
.lenguaje
  h2
    | Lenguajes de programación
  ul
    li
      | JAVASCRIPT
    li
      | node.js
    li
      | PYTHON
    li
      | Lua
    li
      | SQL
.idioma
  h2
    | idiomas
  ul
    li(id='españa')
      | Espa&ntilde;ol
    li#portugal
      | Portugues

section
  
  div
    h2 Experiencia Profesional
    p Tecnico en reparación y mantenimiento de computadoras 
    
  div
    h2
      | Estudios
    .estudio
      article
        p.titulo a resivir 
          | Titulo: Ingeniero Informatico
        p.universidad
          | UNIVERSIDAD: Univercidad Romulo Gallegos
      article
        p.titulo
          | TITULO: XXXXXXXXXXXXXX
        p.universidad  UNIVERSIDAD: XXXXXXXXXXX 

    